In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from datetime import date,timedelta
import time

In [13]:
url = f"https://www.worldometers.info/coronavirus/"
browser = webdriver.Chrome(executable_path="Driver/chromedriver.exe")
browser.get(url)
browser.find_element_by_link_text('Yesterday').click()

In [15]:
html_text = browser.page_source
tree = BeautifulSoup(html_text, 'html.parser')
tbody = tree.find("tbody")
trows = tbody.find_all("tr",{"role": "row"})
total_row_world = tbody.find_all("tr",{"class" : "total_row_world"})
list_data_country = [trow.text.split("\n")[1:-2] for trow in trows if trow not in total_row_world]
list_data_continent = []
for trow in total_row_world:
    if "World" not in trow.text:
        temp_data = trow.text.split("\n")[3:-7]
        temp_data[1] = temp_data[0]
        list_data_continent.append(temp_data[1:])

In [16]:
list_data_country

[['1',
  'USA',
  '32,308,557',
  '+2,645',
  '579,951 ',
  '+9',
  '24,836,187',
  '6,892,419',
  '9,712',
  '97,158',
  '1,744',
  '426,562,606',
  '1,282,751',
  '332,537,343 '],
 ['2',
  'India',
  '14,526,609',
  '+4,926',
  '175,673 ',
  '',
  '12,671,220',
  '1,679,716',
  '8,944',
  '10,445',
  '126',
  '264,972,022',
  '190,529',
  '1,390,716,194 '],
 ['3',
  'Brazil',
  '13,834,342',
  '',
  '369,024 ',
  '',
  '12,298,863',
  '1,166,455',
  '8,318',
  '64,721',
  '1,726',
  '28,600,000',
  '133,799',
  '213,753,558 '],
 ['4',
  'France',
  '5,224,321',
  '',
  '100,404 ',
  '',
  '4,046,205',
  '1,077,712',
  '5,914',
  '79,897',
  '1,536',
  '71,424,719',
  '1,092,324',
  '65,387,859 '],
 ['5',
  'Russia',
  '4,693,469',
  '+9,321',
  '105,193 ',
  '+398',
  '4,319,389',
  '268,887',
  '2,300',
  '32,151',
  '721',
  '125,100,000',
  '856,943',
  '145,984,033 '],
 ['6',
  'UK',
  '4,383,572',
  '',
  '127,225 ',
  '',
  '4,139,553',
  '116,794',
  '329',
  '64,305',
  '1,866',
  '140,944,028',
  '2,067,597',
  '68,168,033 '],
 ['7',
  'Turkey',
  '4,150,039',
  '',
  '35,320 ',
  '',
  '3,591,550',
  '523,169',
  '3,205',
  '48,792',
  '415',
  '43,148,200',
  '507,296',
  '85,055,316 '],
 ['8',
  'Italy',
  '3,842,079',
  '',
  '116,366 ',
  '',
  '3,218,975',
  '506,738',
  '3,366',
  '63,620',
  '1,927',
  '54,532,594',
  '902,987',
  '60,391,353 '],
 ['9',
  'Spain',
  '3,407,283',
  '',
  '76,981 ',
  '',
  '3,129,234',
  '201,068',
  '2,180',
  '72,853',
  '1,646',
  '44,285,495',
  '946,896',
  '46,769,124 '],
 ['10',
  'Germany',
  '3,116,950',
  '',
  '80,387 ',
  '',
  '2,765,100',
  '271,463',
  '4,740',
  '37,108',
  '957',
  '52,737,238',
  '627,854',
  '83,995,966 '],
 ['11',
  'Poland',
  '2,675,874',
  '+15,763',
  '61,825 ',
  '+616',
  '2,285,221',
  '328,828',
  '3,372',
  '70,765',
  '1,635',
  '13,503,602',
  '357,108',
  '37,813,758 '],
 ['12',
  'Argentina',
  '2,658,628',
  '',
  '59,084 ',
  '',
  '2,324,107',
  '275,437',
  '3,971',
  '58,401',
  '1,298',
  '10,024,309',
  '220,202',
  '45,523,287 '],
 ['13',
  'Colombia',
  '2,619,422',
  '',
  '67,564 ',
  '',
  '2,442,453',
  '109,405',
  '4,299',
  '51,050',
  '1,317',
  '13,693,403',
  '266,871',
  '51,310,940 '],
 ['14',
  'Mexico',
  '2,299,939',
  '+4,504',
  '211,693 ',
  '+480',
  '1,823,732',
  '264,514',
  '4,798',
  '17,692',
  '1,628',
  '6,378,763',
  '49,067',
  '130,001,965 '],
 ['15',
  'Iran',
  '2,215,445',
  '+21,312',
  '66,327 ',
  '+319',
  '1,772,688',
  '376,430',
  '4,694',
  '26,113',
  '782',
  '14,277,782',
  '168,289',
  '84,840,750 '],
 ['16',
  'Ukraine',
  '1,936,228',
  '+14,984',
  '39,536 ',
  '+440',
  '1,475,556',
  '421,136',
  '177',
  '44,485',
  '908',
  '8,915,393',
  '204,833',
  '43,525,192 '],
 ['17',
  'Peru',
  '1,689,051',
  '',
  '56,454 ',
  '',
  '1,610,563',
  '22,034',
  '2,591',
  '50,671',
  '1,694',
  '10,295,559',
  '308,862',
  '33,333,897 '],
 ['18',
  'Czechia',
  '1,600,341',
  '+3,206',
  '28,396 ',
  '+27',
  '1,495,570',
  '76,375',
  '971',
  '149,220',
  '2,648',
  '15,507,408',
  '1,445,951',
  '10,724,712 '],
 ['19',
  'Indonesia',
  '1,599,763',
  '+5,041',
  '43,328 ',
  '+132',
  '1,450,192',
  '106,243',
  '',
  '5,800',
  '157',
  '13,797,813',
  '50,027',
  '275,806,497 '],
 ['20',
  'South Africa',
  '1,564,355',
  '',
  '53,663 ',
  '',
  '1,488,572',
  '22,120',
  '546',
  '26,117',
  '896',
  '10,291,264',
  '171,812',
  '59,898,425 '],
 ['21',
  'Netherlands',
  '1,387,043',
  '',
  '16,873 ',
  '',
  '1,156,614',
  '213,556',
  '775',
  '80,807',
  '983',
  '11,292,587',
  '657,889',
  '17,164,888 '],
 ['22',
  'Chile',
  '1,109,311',
  '',
  '24,923 ',
  '',
  '1,037,539',
  '46,849',
  '3,277',
  '57,639',
  '1,295',
  '12,206,029',
  '634,217',
  '19,245,815 '],
 ['23',
  'Canada',
  '1,106,062',
  '',
  '23,541 ',
  '',
  '997,202',
  '85,319',
  '1,089',
  '29,104',
  '619',
  '29,497,034',
  '776,166',
  '38,003,522 '],
 ['24',
  'Romania',
  '1,027,039',
  '+3,474',
  '26,072 ',
  '+135',
  '936,515',
  '64,452',
  '1,505',
  '53,671',
  '1,362',
  '7,883,209',
  '411,961',
  '19,135,798 '],
 ['25',
  'Iraq',
  '964,435',
  '',
  '14,915 ',
  '',
  '843,851',
  '105,669',
  '494',
  '23,562',
  '364',
  '8,732,638',
  '213,348',
  '40,931,458 '],
 ['26',
  'Belgium',
  '943,213',
  '+3,904',
  '23,681 ',
  '+45',
  '794,506',
  '125,026',
  '930',
  '81,105',
  '2,036',
  '11,907,015',
  '1,023,861',
  '11,629,525 '],
 ['27',
  'Philippines',
  '926,052',
  '+11,101',
  '15,810 ',
  '+72',
  '706,532',
  '203,710',
  '750',
  '8,363',
  '143',
  '11,036,556',
  '99,670',
  '110,731,018 '],
 ['28',
  'Sweden',
  '900,138',
  '',
  '13,788 ',
  '',
  '724,648',
  '161,702',
  '391',
  '88,692',
  '1,359',
  '7,847,033',
  '773,179',
  '10,149,050 '],
 ['29',
  'Israel',
  '836,740',
  '',
  '6,315 ',
  '',
  '827,745',
  '2,680',
  '201',
  '90,974',
  '687',
  '13,929,118',
  '1,514,431',
  '9,197,590 '],
 ['30',
  'Portugal',
  '829,911',
  '',
  '16,937 ',
  '',
  '787,607',
  '25,367',
  '101',
  '81,579',
  '1,665',
  '9,690,372',
  '952,546',
  '10,173,131 '],
 ['31',
  'Pakistan',
  '750,158',
  '+4,976',
  '16,094 ',
  '+112',
  '654,956',
  '79,108',
  '4,149',
  '3,345',
  '72',
  '11,072,531',
  '49,372',
  '224,265,640 '],
 ['32',
  'Hungary',
  '746,802',
  '+4,604',
  '24,979 ',
  '+217',
  '450,791',
  '271,032',
  '1,093',
  '77,462',
  '2,591',
  '5,096,421',
  '528,625',
  '9,640,900 '],
 ['33',
  'Bangladesh',
  '715,252',
  '+3,473',
  '10,283 ',
  '+101',
  '608,815',
  '96,154',
  '',
  '4,309',
  '62',
  '5,150,663',
  '31,031',
  '165,984,716 '],
 ['34',
  'Jordan',
  '681,870',
  '',
  '8,117 ',
  '',
  '625,912',
  '47,841',
  '729',
  '66,310',
  '789',
  '6,448,333',
  '627,081',
  '10,283,101 '],
 ['35',
  'Serbia',
  '657,716',
  '',
  '5,920 ',
  '',
  '579,625',
  '72,171',
  '239',
  '75,518',
  '680',
  '3,661,150',
  '420,365',
  '8,709,451 '],
 ['36',
  'Switzerland',
  '632,399',
  '',
  '10,503  ',
  '',
  '566,679',
  '55,217',
  '222',
  '72,651',
  '1,207',
  '6,538,153',
  '751,111',
  '8,704,639 '],
 ['37',
  'Austria',
  '589,299',
  '',
  '9,843 ',
  '',
  '550,470',
  '28,986',
  '558',
  '65,137',
  '1,088',
  '28,298,620',
  '3,127,945',
  '9,047,032 '],
 ['38',
  'Japan',
  '520,745',
  '',
  '9,538 ',
  '',
  '475,574',
  '35,633',
  '670',
  '4,127',
  '76',
  '10,754,285',
  '85,237',
  '126,169,398 '],
 ['39',
  'Lebanon',
  '506,808',
  '',
  '6,854 ',
  '',
  '420,223',
  '79,731',
  '794',
  '74,518',
  '1,008',
  '3,796,562',
  '558,220',
  '6,801,193 '],
 ['40',
  'Morocco',
  '504,847',
  '',
  '8,934 ',
  '',
  '490,921',
  '4,992',
  '243',
  '13,551',
  '240',
  '6,137,435',
  '164,738',
  '37,255,697 '],
 ['41',
  'UAE',
  '495,224',
  '+1,958',
  '1,550 ',
  '+3',
  '478,063',
  '15,611',
  '',
  '49,598',
  '155',
  '41,563,833',
  '4,162,767',
  '9,984,665 '],
 ['42',
  'Saudi Arabia',
  '403,106',
  '',
  '6,801 ',
  '',
  '387,020',
  '9,285',
  '1,034',
  '11,439',
  '193',
  '16,072,606',
  '456,077',
  '35,240,955 '],
 ['43',
  'Bulgaria',
  '384,887',
  '',
  '15,100 ',
  '',
  '304,033',
  '65,754',
  '801',
  '55,725',
  '2,186',
  '2,349,606',
  '340,182',
  '6,906,904 '],
 ['44',
  'Slovakia',
  '375,336',
  '+750',
  '11,043 ',
  '+73',
  '255,300',
  '108,993',
  '450',
  '68,721',
  '2,022',
  '2,486,691',
  '455,293',
  '5,461,737 '],
 ['45',
  'Malaysia',
  '372,859',
  '+2,331',
  '1,370 ',
  '+5',
  '352,395',
  '19,094',
  '225',
  '11,405',
  '42',
  '8,540,200',
  '261,224',
  '32,693,019 '],
 ['46',
  'Panama',
  '360,249',
  '',
  '6,185 ',
  '',
  '350,134',
  '3,930',
  '105',
  '82,470',
  '1,416',
  '2,283,594',
  '522,769',
  '4,368,267 '],
 ['47',
  'Ecuador',
  '355,964',
  '',
  '17,528 ',
  '',
  '298,604',
  '39,832',
  '631',
  '19,937',
  '982',
  '1,218,869',
  '68,268',
  '17,854,124 '],
 ['48',
  'Belarus',
  '341,539',
  '',
  '2,403 ',
  '',
  '331,972',
  '7,164',
  '',
  '36,154',
  '254',
  '5,627,834',
  '595,736',
  '9,446,860 '],
 ['49',
  'Greece',
  '311,033',
  '',
  '9,330 ',
  '',
  '266,175',
  '35,528',
  '824',
  '29,957',
  '899',
  '7,379,458',
  '710,749',
  '10,382,653 '],
 ['50',
  'Croatia',
  '306,225',
  '+2,627',
  '6,523 ',
  '+37',
  '283,418',
  '16,284',
  '182',
  '74,960',
  '1,597',
  '1,693,080',
  '414,446',
  '4,085,169 '],
 ['51',
  'Azerbaijan',
  '296,374',
  '',
  '4,077 ',
  '',
  '260,193',
  '32,104',
  '',
  '29,024',
  '399',
  '3,082,157',
  '301,836',
  '10,211,352 '],
 ['52',
  'Georgia',
  '294,540',
  '+1,219',
  '3,925 ',
  '+9',
  '280,132',
  '10,483',
  '',
  '73,948',
  '985',
  '3,856,967',
  '968,334',
  '3,983,096 '],
 ['53',
  'Bolivia',
  '287,360',
  '+1,246',
  '12,625 ',
  '+22',
  '236,455',
  '38,280',
  '71',
  '24,356',
  '1,070',
  '1,037,899',
  '87,968',
  '11,798,547 '],
 ['54',
  'Kazakhstan',
  '284,173',
  '+2,822',
  '3,364 ',
  '+31',
  '244,517',
  '36,292',
  '221',
  '14,993',
  '177',
  '9,464,077',
  '499,321',
  '18,953,882 '],
 ['55',
  'Nepal',
  '282,890',
  '',
  '3,070 ',
  '',
  '274,812',
  '5,008',
  '',
  '9,574',
  '104',
  '2,335,084',
  '79,024',
  '29,549,209 '],
 ['56',
  'Tunisia',
  '281,777',
  '',
  '9,639 ',
  '',
  '232,643',
  '39,495',
  '457',
  '23,646',
  '809',
  '1,215,518',
  '102,005',
  '11,916,231 '],
 ['57',
  'Palestine',
  '278,135',
  '',
  '2,955 ',
  '',
  '243,522',
  '31,658',
  '172',
  '53,544',
  '569',
  '1,670,034',
  '321,499',
  '5,194,531 '],
 ['58',
  'Dominican Republic',
  '260,133',
  '',
  '3,410 ',
  '',
  '218,010',
  '38,713',
  '152',
  '23,792',
  '312',
  '1,363,804',
  '124,733',
  '10,933,789 '],
 ['59',
  'Kuwait',
  '254,472',
  '',
  '1,436 ',
  '',
  '237,667',
  '15,369',
  '247',
  '58,901',
  '332',
  '2,205,047',
  '510,388',
  '4,320,337 '],
 ['60',
  'Paraguay',
  '246,806',
  '+2,278',
  '5,177 ',
  '+67',
  '202,109',
  '39,520',
  '501',
  '34,271',
  '719',
  '1,007,652',
  '139,920',
  '7,201,644 '],
 ['61',
  'Moldova',
  '244,866',
  '',
  '5,521 ',
  '',
  '228,766',
  '10,579',
  '282',
  '60,813',
  '1,371',
  '927,765',
  '230,413',
  '4,026,529 '],
 ['62',
  'Ireland',
  '242,819',
  '',
  '4,831 ',
  '',
  '223,384',
  '14,604',
  '53',
  '48,746',
  '970',
  '4,256,930',
  '854,580',
  '4,981,310 '],
 ['63',
  'Denmark',
  '241,007',
  '',
  '2,452 ',
  '',
  '230,084',
  '8,471',
  '36',
  '41,493',
  '422',
  '31,227,788',
  '5,376,368',
  '5,808,343 '],
 ['64',
  'Ethiopia',
  '238,527',
  '',
  '3,300 ',
  '',
  '177,629',
  '57,598',
  '1,013',
  '2,035',
  '28',
  '2,485,951',
  '21,212',
  '117,198,144 '],
 ['65',
  'Lithuania',
  '232,829',
  '+1,193',
  '3,751 ',
  '+12',
  '211,306',
  '17,772',
  '172',
  '86,487',
  '1,393',
  '2,591,368',
  '962,595',
  '2,692,064 '],
 ['66',
  'Slovenia',
  '231,593',
  '+766',
  '4,153 ',
  '+6',
  '215,272',
  '12,168',
  '151',
  '111,388',
  '1,997',
  '1,127,521',
  '542,295',
  '2,079,164 '],
 ['67',
  'Costa Rica',
  '228,577',
  '',
  '3,071 ',
  '',
  '196,974',
  '28,532',
  '236',
  '44,550',
  '599',
  '895,974',
  '174,625',
  '5,130,854 '],
 ['68',
  'Egypt',
  '214,639',
  '',
  '12,653 ',
  '',
  '162,170',
  '39,816',
  '90',
  '2,067',
  '122',
  '2,677,262',
  '25,779',
  '103,852,749 '],
 ['69',
  'Guatemala',
  '210,667',
  '',
  '7,160 ',
  '',
  '189,536',
  '13,971',
  '5',
  '11,590',
  '394',
  '1,152,524',
  '63,408',
  '18,176,311 '],
 ['70',
  'Armenia',
  '207,973',
  '+870',
  '3,859 ',
  '+24',
  '187,256',
  '16,858',
  '',
  '70,081',
  '1,300',
  '931,583',
  '313,915',
  '2,967,628 '],
 ['71',
  'Honduras',
  '199,682',
  '+707',
  '4,934 ',
  '+5',
  '76,235',
  '118,513',
  '576',
  '19,911',
  '492',
  '555,870',
  '55,428',
  '10,028,680 '],
 ['72',
  'Qatar',
  '194,930',
  '',
  '367 ',
  '',
  '172,598',
  '21,965',
  '481',
  '69,424',
  '131',
  '1,830,688',
  '652,000',
  '2,807,805 '],
 ['73',
  'Bosnia and Herzegovina',
  '188,994',
  '',
  '7,788 ',
  '',
  '145,863',
  '35,343',
  '',
  '57,892',
  '2,386',
  '862,452',
  '264,182',
  '3,264,618 '],
 ['74',
  'Venezuela',
  '180,609',
  '',
  '1,870 ',
  '',
  '162,936',
  '15,803',
  '263',
  '6,366',
  '66',
  '3,359,014',
  '118,392',
  '28,372,047 '],
 ['75',
  'Oman',
  '176,668',
  '',
  '1,821 ',
  '',
  '156,845',
  '18,002',
  '267',
  '33,919',
  '350',
  '1,550,000',
  '297,590',
  '5,208,510 '],
 ['76',
  'Libya',
  '171,131',
  '',
  '2,882 ',
  '',
  '156,344',
  '11,905',
  '',
  '24,641',
  '415',
  '926,632',
  '133,425',
  '6,944,953 '],
 ['77',
  'Nigeria',
  '164,147',
  '',
  '2,061 ',
  '',
  '154,304',
  '7,782',
  '11',
  '781',
  '10',
  '1,838,174',
  '8,747',
  '210,148,740 '],
 ['78',
  'Bahrain',
  '162,089',
  '',
  '581 ',
  '',
  '150,179',
  '11,329',
  '86',
  '92,740',
  '332',
  '3,869,936',
  '2,214,192',
  '1,747,787 '],
 ['79',
  'Uruguay',
  '159,569',
  '',
  '1,788 ',
  '',
  '126,119',
  '31,662',
  '516',
  '45,810',
  '513',
  '1,607,709',
  '461,553',
  '3,483,257 '],
 ['80',
  'Kenya',
  '150,260',
  '',
  '2,443 ',
  '',
  '99,580',
  '48,237',
  '260',
  '2,747',
  '45',
  '1,592,484',
  '29,112',
  '54,701,802 '],
 ['81',
  'North Macedonia',
  '145,909',
  '',
  '4,388 ',
  '',
  '121,439',
  '20,082',
  '124',
  '70,037',
  '2,106',
  '684,888',
  '328,751',
  '2,083,306 '],
 ['82',
  'Myanmar',
  '142,619',
  '+2',
  '3,206 ',
  '',
  '131,889',
  '7,524',
  '',
  '2,607',
  '59',
  '2,558,235',
  '46,770',
  '54,698,114 '],
 ['83',
  'Albania',
  '129,307',
  '',
  '2,337 ',
  '',
  '100,600',
  '26,370',
  '18',
  '44,972',
  '813',
  '598,044',
  '207,993',
  '2,875,307 '],
 ['84',
  'Algeria',
  '119,323',
  '',
  '3,148 ',
  '',
  '83,169',
  '33,006',
  '16',
  '2,683',
  '71',
  '230,861',
  '5,191',
  '44,474,156 '],
 ['85',
  'Estonia',
  '117,011',
  '+333',
  '1,082 ',
  '+12',
  '101,471',
  '14,458',
  '53',
  '88,161',
  '815',
  '1,224,645',
  '922,699',
  '1,327,242 '],
 ['86',
  'S. Korea',
  '113,444',
  '+655',
  '1,794 ',
  '+4',
  '103,594',
  '8,056',
  '108',
  '2,211',
  '35',
  '8,377,779',
  '163,296',
  '51,304,133 '],
 ['87',
  'Latvia',
  '110,997',
  '+654',
  '2,048 ',
  '+6',
  '101,944',
  '7,005',
  '94',
  '59,369',
  '1,095',
  '2,117,688',
  '1,132,685',
  '1,869,618 '],
 ['88',
  'Norway',
  '106,727',
  '',
  '708 ',
  '',
  '88,952',
  '17,067',
  '53',
  '19,566',
  '130',
  '4,967,185',
  '910,619',
  '5,454,734 '],
 ['89',
  'Sri Lanka',
  '96,186',
  '',
  '615 ',
  '',
  '92,832',
  '2,739',
  '',
  '4,477',
  '29',
  '2,374,627',
  '110,529',
  '21,484,281 '],
 ['90',
  'Montenegro',
  '95,205',
  '',
  '1,421 ',
  '',
  '90,295',
  '3,489',
  '69',
  '151,569',
  '2,262',
  '358,381',
  '570,553',
  '628,129 '],
 ['91',
  'Kyrgyzstan',
  '91,639',
  '+265',
  '1,546 ',
  '+2',
  '86,773',
  '3,320',
  '25',
  '13,866',
  '234',
  '926,793',
  '140,233',
  '6,608,953 '],
 ['92',
  'Ghana',
  '91,545',
  '',
  '766 ',
  '',
  '89,400',
  '1,379',
  '8',
  '2,899',
  '24',
  '1,039,284',
  '32,907',
  '31,582,748 '],
 ['93',
  'Cuba',
  '91,448',
  '',
  '500 ',
  '',
  '86,142',
  '4,806',
  '73',
  '8,078',
  '44',
  '3,320,626',
  '293,312',
  '11,321,137 '],
 ['94',
  'Zambia',
  '90,750',
  '',
  '1,233 ',
  '',
  '88,414',
  '1,103',
  '55',
  '4,830',
  '66',
  '1,335,176',
  '71,068',
  '18,787,404 '],
 ['95',
  'China',
  '90,483',
  '+15',
  '4,636 ',
  '',
  '85,538',
  '309',
  '4',
  '63',
  '3',
  '160,000,000',
  '111,163',
  '1,439,323,776 '],
 ['96',
  'Uzbekistan',
  '86,338',
  '+316',
  '636 ',
  '+1',
  '83,838',
  '1,864',
  '23',
  '2,550',
  '19',
  '1,377,915',
  '40,705',
  '33,851,463 '],
 ['97',
  'Finland',
  '83,633',
  '',
  '887 ',
  '',
  '46,000',
  '36,746',
  '34',
  '15,076',
  '160',
  '4,242,720',
  '764,794',
  '5,547,536 '],
 ['98',
  'Mozambique',
  '69,067',
  '',
  '797 ',
  '',
  '61,188',
  '7,082',
  '68',
  '2,162',
  '25',
  '501,859',
  '15,712',
  '31,941,618 '],
 ['99',
  'El Salvador',
  '67,404',
  '+155',
  '2,072 ',
  '+4',
  '63,685',
  '1,647',
  '63',
  '10,351',
  '318',
  '886,223',
  '136,089',
  '6,512,090 '],
 ['100',
  'Luxembourg',
  '64,746',
  '',
  '785 ',
  '',
  '60,627',
  '3,334',
  '30',
  '102,123',
  '1,238',
  '2,548,684',
  '4,020,019',
  '633,998 '],
 ['101',
  'Cameroon',
  '61,731',
  '',
  '919 ',
  '',
  '56,926',
  '3,886',
  '385',
  '2,281',
  '34',
  '1,257,949',
  '46,480',
  '27,064,355 '],
 ['102',
  'Singapore',
  '60,808',
  '+39',
  '30 ',
  '',
  '60,446',
  '332',
  '2',
  '10,330',
  '5',
  '9,036,706',
  '1,535,107',
  '5,886,695 '],
 ['103',
  'Afghanistan',
  '57,793',
  '+72',
  '2,539 ',
  '',
  '52,115',
  '3,139',
  '1,124',
  '1,459',
  '64',
  '381,098',
  '9,620',
  '39,616,956 '],
 ['104',
  'Cyprus',
  '54,621',
  '',
  '284 ',
  '',
  '39,061',
  '15,276',
  '63',
  '44,981',
  '234',
  '4,222,931',
  '3,477,653',
  '1,214,305 '],
 ['105',
  'Namibia',
  '46,330',
  '',
  '599 ',
  '',
  '44,392',
  '1,339',
  '27',
  '17,977',
  '232',
  '368,930',
  '143,156',
  '2,577,115 '],
 ['106',
  'Ivory Coast',
  '45,474',
  '',
  '274 ',
  '',
  '44,993',
  '207',
  '',
  '1,691',
  '10',
  '557,294',
  '20,724',
  '26,890,842 '],
 ['107',
  'Botswana',
  '44,075',
  '',
  '671 ',
  '',
  '39,493',
  '3,911',
  '1',
  '18,449',
  '281',
  '969,789',
  '405,946',
  '2,388,958 '],
 ['108',
  'Jamaica',
  '43,473',
  '',
  '713 ',
  '',
  '19,472',
  '23,288',
  '33',
  '14,631',
  '240',
  '311,749',
  '104,917',
  '2,971,392 '],
 ['109',
  'Uganda',
  '41,310',
  '',
  '338 ',
  '',
  '40,898',
  '74',
  '24',
  '881',
  '7',
  '980,790',
  '20,925',
  '46,871,224 '],
 ['110',
  'Thailand',
  '40,585',
  '+1,547',
  '99 ',
  '+2',
  '28,750',
  '11,736',
  '1',
  '580',
  '1',
  '8,124,896',
  '116,172',
  '69,938,626 '],
 ['111',
  'Senegal',
  '39,731',
  '+67',
  '1,090 ',
  '+3',
  '38,441',
  '200',
  '16',
  '2,325',
  '64',
  '462,560',
  '27,066',
  '17,089,933 '],
 ['112',
  'Zimbabwe',
  '37,534',
  '',
  '1,551 ',
  '',
  '34,981',
  '1,002',
  '12',
  '2,497',
  '103',
  '401,364',
  '26,698',
  '15,033,428 '],
 ['113',
  'Malawi',
  '33,919',
  '',
  '1,136 ',
  '',
  '31,717',
  '1,066',
  '15',
  '1,738',
  '58',
  '226,302',
  '11,595',
  '19,517,670 '],
 ['114',
  'Sudan',
  '31,790',
  '',
  '2,208 ',
  '',
  '25,539',
  '4,043',
  '',
  '712',
  '49',
  '232,965',
  '5,217',
  '44,653,127 '],
 ['115',
  'Madagascar',
  '31,617',
  '+578',
  '538 ',
  '+7',
  '25,471',
  '5,608',
  '294',
  '1,119',
  '19',
  '164,826',
  '5,835',
  '28,249,404 '],
 ['116',
  'Malta',
  '29,927',
  '+67',
  '409 ',
  '+4',
  '28,910',
  '608',
  '',
  '67,636',
  '924',
  '844,016',
  '1,907,493',
  '442,474 '],
 ['117',
  'Australia',
  '29,494',
  '+11',
  '910 ',
  '',
  '26,423',
  '2,161',
  '',
  '1,146',
  '35',
  '16,329,169',
  '634,554',
  '25,733,314 '],
 ['118',
  'DRC',
  '28,859',
  '',
  '745 ',
  '',
  '25,841',
  '2,273',
  '',
  '315',
  '8',
  '144,185',
  '1,572',
  '91,692,851 '],
 ['119',
  'Maldives',
  '26,021',
  '',
  '68 ',
  '',
  '23,360',
  '2,593',
  '53',
  '47,480',
  '124',
  '680,883',
  '1,242,403',
  '548,037 '],
 ['120',
  'Angola',
  '24,122',
  '',
  '560 ',
  '',
  '22,203',
  '1,359',
  '20',
  '717',
  '17',
  '445,121',
  '13,222',
  '33,666,336 '],
 ['121',
  'Rwanda',
  '23,812',
  '',
  '322 ',
  '',
  '22,015',
  '1,475',
  '4',
  '1,803',
  '24',
  '1,249,423',
  '94,623',
  '13,204,159 '],
 ['122',
  'Gabon',
  '21,566',
  '',
  '132 ',
  '',
  '18,219',
  '3,215',
  '20',
  '9,513',
  '58',
  '679,898',
  '299,915',
  '2,266,966 '],
 ['123',
  'Guinea',
  '21,392',
  '',
  '138 ',
  '',
  '18,856',
  '2,398',
  '24',
  '1,595',
  '10',
  '418,977',
  '31,239',
  '13,412,040 '],
 ['124',
  'Syria',
  '20,856',
  '',
  '1,423 ',
  '',
  '14,594',
  '4,839',
  '',
  '1,169',
  '80',
  '103,566',
  '5,807',
  '17,834,327 '],
 ['125',
  'Mongolia',
  '20,655',
  '+983',
  '41 ',
  '+4',

In [4]:
df_continent = pd.DataFrame(list_data_continent[:-1], columns = ["Continent", "Total Cases", "New Cases", "Total Deaths", 
                                        "New Death", "Total Recovered", "Active Case", "Serious Critical"])
df_continent = df_continent.replace([""," "], "0")
df_continent["Time"] = date.today() - timedelta(1)
df_continent.head()

,Continent,Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Time
0,Europe,"42,365,606","+199,467","966,569","+3,864","36,604,467","4,794,570","32,929",2021-04-15
1,North America,"37,184,476","+95,739","842,974","+1,568","28,860,618","7,480,884","16,873",2021-04-15
2,Asia,"32,588,924","+371,874","458,542","+2,726","28,639,217","3,491,165","28,756",2021-04-15
3,South America,"23,031,584","+156,256","612,214","+5,357","20,649,343","1,770,027","24,332",2021-04-15
4,Africa,"4,433,974","+12,678","117,363",+313,"3,963,106","353,505","3,812",2021-04-15

In [5]:
df_country = pd.DataFrame(list_data_country, columns = ["#", "Country, Other", "Total Cases", "New Cases", "Total Deaths", 
                                        "New Death", "Total Recovered", "Active Case", "Serious Critical", 
                                        "Tot Cases/1M pop", "Death/1M pop","Total test","Test/1M pop", "Population"])
df_country.set_index("#", inplace=True)
df_country["Time"] = date.today() - timedelta(1)
df_country = df_country.replace([""," "], "0")
df_country.head()

,"Country, Other",Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population,Time
#,,,,,,,,,,,,,,
1,USA,"32,224,080","+74,420","578,993",+895,"24,770,658","6,874,429","9,762","96,905","1,741","424,867,753","1,277,675","332,532,050",2021-04-15
2,India,"14,287,740","+216,850","174,335","+1,183","12,543,978","1,569,427","8,944","10,274",125,"262,003,415","188,400","1,390,679,153",2021-04-15
3,Brazil,"13,758,093","+80,529","365,954","+3,774","12,236,295","1,155,844","8,318","64,366","1,712","28,600,000","133,802","213,749,436",2021-04-15
4,France,"5,187,879","+38,045","100,073",+296,"4,008,331","1,079,475","5,924","79,341","1,530","71,017,438","1,086,102","65,387,466",2021-04-15
5,Russia,"4,675,153","+8,944","104,398",+398,"4,301,448","269,307","2,300","32,025",715,"124,700,000","854,204","145,983,862",2021-04-15

In [6]:
writer = pd.ExcelWriter("data.xlsx", engine='xlsxwriter',datetime_format = "YYYY-MM-DD")
# df_continent.to_excel(writer, sheet_name= "continent")
# df_country.to_excel(writer, sheet_name= "country")
# writer.save()

In [7]:
old_df_continent = pd.read_excel(writer, sheet_name= "continent", index_col=0)
frames1 = [old_df_continent, df_continent]
result1 = pd.concat(frames1)
result1.to_excel(writer, sheet_name= "continent")
#
old_df_country = pd.read_excel(writer, sheet_name= "country", index_col=0)
frames2 = [old_df_country, df_country]
result2 = pd.concat(frames2)
result2.to_excel(writer, sheet_name= "country")
writer.save()