# Tiền xử lý

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data.xlsx', sheet_name='country')

In [3]:
df.head()

,#,"Country, Other",Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population,Time
0,1,USA,"32,147,551","+76,767","578,014",+837,"24,695,060","6,874,477","9,679","96,677","1,738","423,315,689","1,273,027","332,526,757",2021-04-14
1,2,India,"14,070,890","+199,569","173,152","+1,037","12,426,146","1,471,592","8,944","10,118",125,"260,618,866","187,409","1,390,642,113",2021-04-14
2,3,Brazil,"13,677,564","+75,998","362,180","+3,462","12,170,771","1,144,613","8,318","63,990","1,694","28,600,000","133,804","213,745,314",2021-04-14
3,4,France,"5,149,834","+43,505","99,777",+297,"315,152","4,734,905","5,902","78,759","1,526","70,521,002","1,078,516","65,387,072",2021-04-14
4,5,Russia,"4,666,209","+8,326","104,000",+399,"4,291,223","270,986","2,300","31,964",712,"124,400,000","852,150","145,983,692",2021-04-14

In [4]:
df.drop('#', axis=1, inplace=True)

In [5]:
df.head()

,"Country, Other",Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population,Time
0,USA,"32,147,551","+76,767","578,014",+837,"24,695,060","6,874,477","9,679","96,677","1,738","423,315,689","1,273,027","332,526,757",2021-04-14
1,India,"14,070,890","+199,569","173,152","+1,037","12,426,146","1,471,592","8,944","10,118",125,"260,618,866","187,409","1,390,642,113",2021-04-14
2,Brazil,"13,677,564","+75,998","362,180","+3,462","12,170,771","1,144,613","8,318","63,990","1,694","28,600,000","133,804","213,745,314",2021-04-14
3,France,"5,149,834","+43,505","99,777",+297,"315,152","4,734,905","5,902","78,759","1,526","70,521,002","1,078,516","65,387,072",2021-04-14
4,Russia,"4,666,209","+8,326","104,000",+399,"4,291,223","270,986","2,300","31,964",712,"124,400,000","852,150","145,983,692",2021-04-14

In [6]:
df.dtypes

Country, Other              object
Total Cases                 object
New Cases                   object
Total Deaths                object
New Death                   object
Total Recovered             object
Active Case                 object
Serious Critical            object
Tot Cases/1M pop            object
Death/1M pop                object
Total test                  object
Test/1M pop                 object
Population                  object
Time                datetime64[ns]
dtype: object

In [7]:
num_cols=['Total Cases', 'New Cases', 'Total Deaths', 
          'New Death', 'Total Recovered', 'Active Case', 
          'Serious Critical', 'Tot Cases/1M pop', 'Death/1M pop', 
          'Total test', 'Test/1M pop', 'Population']

for col in num_cols:
    df[col]=df[col].str.replace(',', '')
    df[col]=pd.to_numeric(df[col])

In [8]:
df.dtypes

Country, Other              object
Total Cases                  int64
New Cases                    int64
Total Deaths                 int64
New Death                    int64
Total Recovered              int64
Active Case                  int64
Serious Critical             int64
Tot Cases/1M pop             int64
Death/1M pop               float64
Total test                   int64
Test/1M pop                  int64
Population                   int64
Time                datetime64[ns]
dtype: object

### Heat map

In [26]:
corr_matrix=df.corr()
corr_matrix

,Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population
Total Cases,1.000000,0.723707,0.950070,0.637262,0.993494,0.890488,0.815994,0.208481,0.275536,0.880063,0.046419,0.412621
New Cases,0.723707,1.000000,0.621303,0.632754,0.746242,0.543082,0.790761,0.100107,0.147001,0.672342,-0.012965,0.638550
Total Deaths,0.950070,0.621303,1.000000,0.729823,0.947708,0.821415,0.838004,0.209252,0.347000,0.781598,0.031831,0.337789
New Death,0.637262,0.632754,0.729823,1.000000,0.671222,0.404523,0.735383,0.144844,0.276728,0.359713,-0.036076,0.310015
Total Recovered,0.993494,0.746242,0.947708,0.671222,1.000000,0.832994,0.820283,0.205033,0.275253,0.871905,0.043594,0.434275
Active Case,0.890488,0.543082,0.821415,0.404523,0.832994,1.000000,0.682522,0.192890,0.231114,0.798628,0.052526,0.276390
Serious Critical,0.815994,0.790761,0.838004,0.735383,0.820283,0.682522,1.000000,0.205507,0.350271,0.665495,-0.008725,0.439613
Tot Cases/1M pop,0.208481,0.100107,0.209252,0.144844,0.205033,0.192890,0.205507,1.000000,0.821174,0.144574,0.480734,-0.084116
Death/1M pop,0.275536,0.147001,0.347000,0.276728,0.275253,0.231114,0.350271,0.821174,1.000000,0.183848,0.304271,-0.038083
Total test,0.880063,0.672342,0.781598,0.359713,0.871905,0.798628,0.665495,0.144574,0.183848,1.000000,0.110009,0.636250
Test/1M pop,0.046419,-0.012965,0.031831,-0.036076,0.043594,0.052526,-0.008725,0.480734,0.304271,0.110009,1.000000,-0.076949
Population,0.412621,0.638550,0.337789,0.310015,0.434275,0.276390,0.439613,-0.084116,-0.038083,0.636250,-0.076949,1.000000

### Vẽ các biểu đồ scatter với mỗi cặp thuộc tính tìm được

In [27]:
corr_matrix[abs(corr_matrix)>0.8][abs(corr_matrix)<1]

,Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population
Total Cases,NaN,NaN,0.950070,NaN,0.993494,0.890488,0.815994,NaN,NaN,0.880063,NaN,NaN
New Cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Deaths,0.950070,NaN,NaN,NaN,0.947708,0.821415,0.838004,NaN,NaN,NaN,NaN,NaN
New Death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Recovered,0.993494,NaN,0.947708,NaN,NaN,0.832994,0.820283,NaN,NaN,0.871905,NaN,NaN
Active Case,0.890488,NaN,0.821415,NaN,0.832994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Serious Critical,0.815994,NaN,0.838004,NaN,0.820283,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tot Cases/1M pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.821174,NaN,NaN,NaN
Death/1M pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.821174,NaN,NaN,NaN,NaN
Total test,0.880063,NaN,NaN,NaN,0.871905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test/1M pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Chú ý `Test/1M pop` và `population`

In [31]:
corr_matrix[abs(corr_matrix)<0.1]

,Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population
Total Cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046419,NaN
New Cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.012965,NaN
Total Deaths,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.031831,NaN
New Death,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.036076,NaN
Total Recovered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043594,NaN
Active Case,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052526,NaN
Serious Critical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008725,NaN
Tot Cases/1M pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.084116
Death/1M pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.038083
Total test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Test/1M pop,0.046419,-0.012965,0.031831,-0.036076,0.043594,0.052526,-0.008725,NaN,NaN,NaN,NaN,-0.076949
Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.084116,-0.038083,NaN,-0.076949,NaN

### Vẽ biểu đồ:
- Heat map corr_matrix; bản đồ thế giới(new cases, new death)
- scatter cho cặp thuộc tính tương quan
- cột đôi cho bảng continent(total cases, total death)
- tròn cho active case bảng continent

áp dụng linear regression

### Kiểm tra dữ liệu có bị sai không?
Total Cases = Total Death + Total Recovered + Active case

In [34]:
df[df["Country, Other"] =="China"]

,"Country, Other",Total Cases,New Cases,Total Deaths,New Death,Total Recovered,Active Case,Serious Critical,Tot Cases/1M pop,Death/1M pop,Total test,Test/1M pop,Population,Time
92,China,90447,12,4636,0,85513,298,6,63,3.0,160000000,111163,1439323776,2021-04-14
314,China,90457,10,4636,0,85524,297,5,63,3.0,160000000,111163,1439323776,2021-04-15

Tìm những nước có % Death cao và % Recovered cao? Vẽ biểu đồ nhận xét